<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid lightgrey;
        }

        .cell-style {
            line-height: 24px;
            font-size: 18px;
            padding: 8px;
            word-break: break-word;
        }
    </style>
</head>
<body>
    <div style='text-align: center;font-size: 26px;margin-bottom: 26px;'>
        Dear #SellerName#
    </div>
    <div style='font-size: 18px; line-height: 24px; padding-bottom: 12px;'>
        Please note that the design detail has not been completed on time.<br>
        It could be that you forgot to update the status. Please keep the process status up to date.
    </div>
    <div>
        <table style='width: 100%; border: 1px solid lightgrey; border-radius: 8px;'>
            <thead>
                <tr>
                    <th style='width:30%;' class='cell-style'>DESIGN</th>
                    <th style='width:30%;' class='cell-style'>PART</th>
                    <th style='width:15%;' class='cell-style'>STATUS</th>
                    <th style='width:15%;' class='cell-style'>DUE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style='width:30%;' class='cell-style'>#DesignName#</td>
                    <td style='width:30%;' class='cell-style'>#DesignPartName#</td>
                    <th style='width:15%;' class='cell-style'>#Status#</th>
                    <td style='width:15%;' class='cell-style'>#DueDate#</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>